<header class="navbar navbar-expand navbar-dark bg-dark flex-column flex-md-row bd-navbar">
  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link" href="index.html">Libr@ction</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="events.html">Les événements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="nous.html">Qui sommes nous ?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="liens.html">Liens utiles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact.html">Contact</a>
      </li>
    </ul>
  </div>
</header>
